name: publish binaries

env:
  MACOSX_DEPLOYMENT_TARGET: '10.13'

on:
  workflow_dispatch: # TODO: adjust before merging for stable 2.0, maybe use repository_dispatch
    inputs:
      releaseId:
        description: 'Release Id'
        required: true
        type: string

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
          - host: macos-latest
            target: aarch64-apple-darwin
          - host: windows-latest
            target: x86_64-pc-windows-msvc
            ext: .exe
          - host: windows-latest
            target: i686-pc-windows-msvc
            ext: .exe
          - host: ubuntu-18.04
            target: x86_64-unknown-linux-gnu
          - host: ubuntu-18.04
            target: x86_64-unknown-linux-musl
          - host: ubuntu-18.04
            target: aarch64-unknown-linux-gnu
          - host: ubuntu-18.04
            target: armv7-unknown-linux-gnueabihf
            setup: |
                  sudo apt-get update
                  sudo apt-get install gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf -y
          - host: ubuntu-18.04
            target: aarch64-unknown-linux-musl

    name: ${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true
          toolchain: stable
          target: ${{ matrix.settings.target }}

      - name: setup system dependencies
        run: ${{ matrix.settings.setup }}
        if: ${{ matrix.settings.setup }}
        shell: bash

      - name: build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      - name: upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: "${{ matrix.settings.target }}"
          path: "target/release/cargo-create-tauri-app${{ matrix.settings.ext }}"
          if-no-files-found: error

  publish:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: download all artifacts
        uses: actions/download-artifact@v3
        with:
          path: binaries

      - run: ls -R
        working-directory: binaries

      - name: rename files
        working-directory: binaries
        shell: bash
        run: |
          find . -name 'cargo-create-tauri-app*' -print0 | while read -d '' file
          do
            parent="$(basename $(dirname ${file}))"
            target="${file#./}"
            target="${target/cargo-create-tauri-app/create-tauri-app-${parent}}"
            target="${target/${parent}\//}"
            mv $file $target
          done
          find . -type d -empty -delete

      - run: ls -R
        working-directory: binaries

      - uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: "${{ inputs.releaseId }}"
          file: "binaries/*"
